@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text font-sans;
    font-family: "Inter", system-ui, sans-serif;
  }

  code,
  pre {
    font-family: "JetBrains Mono", monospace;
  }
}

@layer components {
  /* Scrollbar customizado */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-surface rounded;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-border rounded;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-borderHover;
  }
}
